**/__pycache__/
*.pyc
**egg-info
*.zip
*.tar.gz
*.tar
*.gz
*.tgz
*.rar

**/data/
**/wandb/
offline_stage_1/model/*
!offline_stage_1/model/MS-pretrained_models
!offline_stage_1/model/PA-pretrained_models
offline_stage_2/model/*
!offline_stage_2/model/MS-pretrained_models
!offline_stage_2/model/PA-pretrained_models